@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To-Do List</h1>
    <p class="lead"></p>
    <p><a href="#">Get Started</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started - Julie was here</h2>
        <p>Start your to do list here.</p>
        <p><a class="btn btn-default" href="#">Start List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Colaborate within Teams</h2>
        <p>Enjoy collaboration with your team.</p>
        <p><a class="btn btn-default" href="#">Create Teams &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add People</h2>
        <p>Add people to your to-do list to make collaboration easier.</p>
        <p><a class="btn btn-default" href="#">Add People &raquo;</a></p>
    </div>
</div>